.header {
    text-align: center;
    background-image:url("/images/theme-mainheader1.jpg");
    /* background-color: rgb(173, 84, 196); */
    height:17vh; 
    width:100vw;  
    font-size: 60px;
    color: rgb(24, 24, 110);
    display: inline-block;
    margin-bottom: 1px;
    background-size: cover;
    font-family: 'Chelsea Market', cursive;
    /* font-family: 'Ubuntu', sans-serif; */
   
    
}

.headerTitle {
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
    display: inline-block;
}

.mainpage {
    background-image:url("/images/theme-main1.jpg");
    height: 84vh;
    width: 100vw;
    background-repeat: no-repeat;
}

.disclaimer {
    background-color:white;
    color: black;
    border-radius: 20px;
    font-size: 17px;
    width:35vw;
    height:35vh;
    margin-left: 5vw;
    border: 1px solid black ;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.confirmation {
    background-image:url("/images/theme-main1.jpg");
    height: 84vh;
    width: 100vw;
    background-repeat: no-repeat;

}

.orderNumber {
    background-color:white;
    color: black;
    border-radius: 20px;
    font-size: 20px;
    width: 30vw;
    height: 30vh;
    margin-left: 35vw;
    border: 1px solid black ;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.emptyCart {
    background-image:url("/images/theme-main1.jpg");
    height: 82vh;
    width: 100vw;
    background-repeat: no-repeat;
    
}

.emptyCartModal {
    background-color:white;
    color: black;
    border-radius: 20px;
    /* font-size: 20px; */
    width: 30vw;
    height: 10vh;
    margin-left: 35vw;
    border: 1px solid black ;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Ubuntu', sans-serif;
}

.logo{
    float: left; 
    height: 135px; 
}

/* #root{
    padding: 20px;
} */

.listItem {
    display: inline-block;
    margin-right: 20px;
    width:30vw;
    border:1px solid black;
    font-family: 'Ubuntu', sans-serif;
}

.row {
    /* display: inline-block; */
    width:100vw;
    margin-top:20px;
    text-align: center;
}

.rowImage{
    width: 50vw;
    /* height:20vh; */
    margin-top:20px; 
    display:flex;
    /* border:1px solid black; */
}

.rowProductDetails {
    width: 80vw;
    height:40vh;
    display:inline-block;
  
}

/* .listItem{
    border:-1px solid black;
} */

.cart {
    display: inline-flex;
    font-size: 25px;
    float: right;
    margin-top: 20px;
    padding:30px;
    margin-right: 40px;
    font-family: 'Ubuntu', sans-serif;
}

.add-to-cart-button {
    background-color: rgb(24, 24, 110);
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.itemDetails {
    margin-top:10px;
    margin-bottom: 10px;
}

.card-text{
display:inline-block;
}

.card-data{
    display:inline-block;
    /* font-size:10px; */
    font-family: 'Ubuntu', sans-serif;
}

.cardtextProduct{
    width:40vw;
}

.container{
    margin-top: 10px;
    width:100vw;
    height:80vh;
}

.fa-shopping-cart{
    display: inline-flex;
    font-size: 25px;
    float: right;

}

.summaryImage {
    display: inline-block;
    /* /* height: 48vh; */
    width: 35vw; 
    height: 30vh;
    /* width: 30vw; */
    /* margin:20px; */
}

h3 {
   text-align: center;
   margin:5px;
   padding:20px;
   font-family: 'Ubuntu', sans-serif;
}



.cartSummary {
    display: inline-block;
    /* flex-wrap: wrap; */
    width: 40vw;
    height: 55vh;
    margin:10px;
    border: 1px solid black;
    text-align: center;  
    margin-left: 15vw;
    font-family: 'Ubuntu', sans-serif;
}

.divider {
    width: 15px;
    display: inline-block;
}

.totalPrice {
    display: contents;
    border: 1px solid black;
    height: 8vh;
    width: 15vw;
    padding: 5px;
    background-color: lightblue;
    font-family: 'Ubuntu', sans-serif;
}


.productName {
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.card-box{
    width:50px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
}

.summaryButton{
    /* display: flex; */
    height: 30px;
    text-align: center; 
}
.updatedeleteButton {
    display: inline-block;
    
}

.myCart {
    /* font-size: 20px; */
    /* padding: 5px; */
    margin-top: 12px;


}

.form, .checkoutPage{
    width: 40vw;
    padding:5px;
    margin-left: 90px;
    /* text-align: center; */
    font-family: 'Ubuntu', sans-serif;
}



.orderTotal {
    font-size: 20px;
    margin: 0px;
    border: 1px solid black;
    width: 15vw;
    text-align: center;
    border-radius: 4px;
    background-color: lightblue;
    font-family: 'Ubuntu', sans-serif;
}

.invalidInput {
    color: red;
}

.checkoutTitle {
    text-align: center;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}


.carouselColor{
    background-color: black;
}
