.header {
    text-align: center;
    background-image:url("/images/theme-mainheader1.jpg");
    /* background-color: rgb(173, 84, 196); */
    height:17vh; 
    width:100vw;  
    font-size: 60px;
    color: rgb(24, 24, 110);
    display: inline-block;
    margin-bottom: 1px;
    background-size: cover;
    font-family: 'Chelsea Market', cursive;
    /* font-family: 'Ubuntu', sans-serif; */
   
    
}

.headerTitle {
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
    display: inline-block;
}

.mainpage {
    background-image:url("/images/theme-main1.jpg");
    height: 84vh;
    width: 100vw;
    background-repeat: no-repeat;
}

.disclaimer {
    background-color:white;
    color: black;
    border-radius: 20px;
    font-size: 17px;
    width:35vw;
    height:35vh;
    margin-left: 5vw;
    border: 1px solid black ;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    
}

.confirmation {
    background-image:url("/images/theme-main1.jpg");
    height: 84vh;
    width: 100vw;
    background-repeat: no-repeat;

}

.orderNumber {
    background-color:white;
    color: black;
    border-radius: 20px;
    font-size: 20px;
    width: 30vw;
    height: 25vh;
    margin-left: 35vw;
    border: 1px solid black ;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.emptyCart {
    background-image:url("/images/theme-main1.jpg");
    height: 82vh;
    width: 100vw;
    background-repeat: no-repeat;
    
}

.emptyCartModal {
    background-color:white;
    color: black;
    border-radius: 20px;
    /* font-size: 20px; */
    width: 20vw;
    height: 10vh;
    margin-left: 35vw;
    border: 1px solid black ;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Ubuntu', sans-serif;
}

.logo {
    float: left; 
    height: 135px; 
}

/* #root{
    padding: 20px;
} */

.listItem {
    display: inline-block;
    margin: 25px;
    width:25%;
    height:25%;
    border:1px solid black;
    font-family: 'Ubuntu', sans-serif;
}

/* .row {
    display: inline-block;
    width:100vw;
    margin-top:20px;
    text-align: center;
} */

.rowCatalog {
    display: inline-block;
    width:100vw;
    margin-top:20px;
    text-align: center;
}

.rowImage {
    width: 50vw;
    /* height:20vh; */
    margin-top: 40px; 
    display:flex;
    /* border:1px solid black; */
}

.rowProductDetails {
    width: 80vw;
    height:40vh;
    display:inline-block;
    margin-top: 25px; 
  
}

.productTitle {
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
}

/* .listItem{
    border:-1px solid black;
} */

.cart {
    display: inline-flex;
    font-size: 25px;
    float: right;
    margin-top: 20px;
    padding:30px;
    margin-right: 40px;
    font-family: 'Ubuntu', sans-serif;
}

.add-to-cart-button, .checkoutButton, .placeOrderButton {
    background-color: rgb(47, 47, 112);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 6px;
    font-size: 20px;
    padding: 7px;
    width: 9vw;
}

.itemDetails {
    margin-top:10px;
    margin-bottom: 10px;
}

/* .card-text{
display:inline-block;
} */

/* .card-data{
    display:inline-block;
    /* font-size:10px; */
    /* font-family: 'Ubuntu', sans-serif; */
/* } */ 

.cardtextProduct {
    width: 40vw;
    font-family: 'Ubuntu', sans-serif;
}

.cardHeading {
    font-size: 24px;
}

/* .container{
    margin-top: 10px;
    width:100vw;
    height:80vh;
} */


.containerCatalog{
    margin-top: 10px;
    width:100vw;
    height:80vh;
}

.fa-shopping-cart{
    display: inline-flex;
    font-size: 30px;
    float: right;

}

.summaryImage {
    display: block;
    /* /* height: 48vh; */
    width: 22vw; 
    height: 30vh;
    /* width: 30vw; */
    /* margin:20px; */
    text-align: center;
    margin-left: 6vw;
}

h3 {
   text-align: center;
   margin:5px;
   padding:20px;
   font-family: 'Ubuntu', sans-serif;
}



.cartSummary {
    display: inline-block;
    /* flex-wrap: wrap; */
    width: 34vw;
    height: 56vh;
    margin:10px;
    border: 1px solid black;
    text-align: center;  
    margin-left: 15vw;
    font-family: 'Ubuntu', sans-serif;
}

.myCart{
    font-size: 30px;
}

.divider {
    width: 15px;
    display: inline-block;
}

.totalPrice {
    display: contents;
    border: 1px solid black;
    height: 8vh;
    width: 15vw;
    padding: 5px;
    background-color: lightblue;
    font-family: 'Ubuntu', sans-serif;
}


.productName {
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.card-box{
    width:50px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
}

.summaryButton{
    /* display: flex; */
    height: 30px;
    text-align: center; 
}
.updatedeleteButton {
    display: inline-block;
    
}

.myCart {
    /* font-size: 20px; */
    /* padding: 5px; */
    margin-top: 12px;


}

.form, .checkoutPage{
    width: 40vw;
    padding:5px;
    margin-left: 90px;
    /* text-align: center; */
    font-family: 'Ubuntu', sans-serif;
}



.orderTotal {
    font-size: 20px;
    margin: 0px;
    border: 1px solid black;
    width: 15vw;
    text-align: center;
    border-radius: 4px;
    background-color: lightblue;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 15px;
}

.invalidInput {
    color: red;
}

.checkoutTitle {
    text-align: center;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}


.carouselColor{
    background-color: black;
}

/* Ipad Potrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .mainpage {
        height: 86vh;
        width: 100vw; 
        background-size: cover;
       
    }

    .disclaimer {
        width: 48vw;
        height: 30vh;
    }

    .header {
        height: 14vh;
        /* width: vw; */
    }

    .emptyCart {
        background-size: cover;
        height: 86vh;
    }

    .emptyCartModal {
        width: 38vw;
        height: 7vh;
        margin-left: 31vw;
    }
    /* .row {
        width:120vw;
        height:30vh;
        margin-top:20px;
        text-align: center;
    } */

    .rowCatalog {
        display: inline-block;
        width:100vw;
        margin-top:20px;
        text-align: center;
    }

    .listItem {
        display: inline-block;
        margin: 25px;
        width:35%;
        height:25%;
        border:1px solid black;
        font-family: 'Ubuntu', sans-serif;
    }

    .cardtextProduct{
        width:60vw;
        font-size: 20px;
    }

    .rowImage{
        display: inline-block;
        width: 100vw;
        height: 40vh;
        margin-top: 25px;

    }
    .card-body{
        width:100%;
    }

    .cartSummary {
        display: inline-block;
        /* flex-wrap: wrap; */
        width: 50vw;
        height: 40vh;
        margin:10px;
        /* border: 1px solid black;
        text-align: center;   */
        margin-left: 15vw;
        /* font-family: 'Ubuntu', sans-serif; */
    } 
    
    .summaryImage {
        display: block;
        /* /* height: 48vh; */
        width: 30vw; 
        height: 20vh;
        /* width: 30vw; */
        /* margin:20px; */
        text-align: center;
        margin-left: 10vw;
    }
       
    .confirmation {
        background-size: cover;
        height: 86vh;
    }

    .orderNumber {
        width: 55vw;
        height: 18vh;
        margin-left: 25vw;
        font-size: 15px;
    }

    .orderTotal {
        width: 28vw;
    }

    .add-to-cart-button, .checkoutButton, .placeOrderButton {
        width: 25vw;
    }



}

/* Ipad landscape */
@media screen and (min-width: 1024px) {

    .disclaimer {
        width: 35vw;
        height: 35vh;
        font-size: 15px;
    }

    .emptyCartModal {
        width: 35vw;
        height: 10vh;
        margin-left: 32vw;
        font-size: 25px;
    }

    .orderTotal {
        font-size: 22px;
        margin: 0px;
        width: 20vw;
        margin-bottom: 15px;
    }
    
    .checkoutTitle {
        font-size: 25px;
    }

    .add-to-cart-button, .checkoutButton, .placeOrderButton {
        width: 15vw;
        font-size: 20px;
    }

    .confirmation {
        background-size: cover;
        height: 85vh;
    }

    .orderNumber {
        width: 35vw;
        height: 22vh;
        margin-left: 33vw;
    }

    .orderModal1 {
        font-size: 20px;
    }

    .orderModal2 {
        font-size: 20px;
    }
}

/* Iphone Landscape */
@media screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape)  {

    .header {
        height:20vh; 
        width:100vw;  
        font-size: 30px;
        color: rgb(24, 24, 110);
        margin-bottom: 1px;
        background-size: cover;  
    }
    
    .headerTitle {
        font-size: 40px;
        margin-top: 20px;
    }

    .logo {
        float: left; 
        height: 75px; 
    }

    .cart {      
        font-size: 19px;   
        margin-top: 10px;
        padding:10px;
        margin-right: 10px;
        
    }
    
    .mainpage {
        background-size: cover;
        width:100vw;
        height: 80vh;
       
    }

    .disclaimer {
        width: 55vw;
        height: 55vh;
        font-size: 10px;
    }

    .agreeButton {
        font-size: 30px;
    }

    .emptyCart {
        background-size: cover;
        height: 80vh;
    }

    .emptyCartModal {
        width: 35vw;
        height: 15vh;
        margin-left: 32vw;
        font-size: 20px;
    }
    
    .listItem {
        display: inline-block;
        margin: 5px;
        width:25%;
        border:1px solid black;
        font-family: 'Ubuntu', sans-serif;
    }

    /* .container{
        width:100vw;
        height:80vh;
    } */

    .containerCatalog{
        display: inline-block;
        margin-top: 0px;
        width:100vw;
        height:80vh;
    }
    
    /* .row {
        display: inline-block; 
        width:50vw;
        height:20vh;
        margin-top:20px; 
        margin-left:20px;
        padding:0px;
        text-align: center;
      
    } */

    .rowCatalog {
        display: inline-block;
        width:100vw;
        margin-top:20px;
        text-align: center;
    }

    

    .cartSummary {
        display: inline-block;
        /* flex-wrap: wrap; */
        width: 51vw;
        height: 88vh;
        margin:10px;
        border: 1px solid black;
        text-align: center;  
        margin-left: 15vw;
        font-family: 'Ubuntu', sans-serif;
    } 
    
    .summaryImage {
        display: block;
        /* /* height: 48vh; */
        width: 30vw; 
        height: 35vh;
        /* width: 30vw; */
        /* margin:20px; */
        text-align: center;
        margin-left: 10vw;
    }

    .rowImage{
        display:flex;
        width:40vw;
        margin-top:5px;

        /* border:1px solid black; */
    }

    .cardHeading {
        font-size: 16px;
    }
    .cardtextProduct{
        font-size: 12px;
    }

    .productTitle {
        font-size: 20px;
    }

    .myCart{
        font-size: 22px;
    }

    .form, .checkoutPage{
        width: 40vw;
        padding: 1px;
        margin-left: 70px;
    }
    
    .orderTotal {
        font-size: 15px;
        margin: 0px;
        /* border: 1px solid black; */
        width: 25vw;
        margin-bottom: 15px;
    }
    
    .checkoutTitle {
        font-size: 20px;
    }

    .add-to-cart-button, .checkoutButton, .placeOrderButton {
        width: 17vw;
        font-size: 15px;
    }

    .confirmation {
        background-size: cover;
        height: 80vh;
    }

    .orderNumber {
        width: 48vw;
        height: 45vh;
        margin-left: 25vw;
        /* font-size: 1px; */
    }

    .orderModal1 {
        font-size: 18px;
    }

    .orderModal2 {
        font-size: 18px;
    }
}

/* Iphone potrait */
@media screen and (max-width: 375px)  {

    .header {
        height: 14vh; 
        width:100vw;  
        font-size: 20px;
        /* color: rgb(24, 24, 110); */
        /* margin-bottom: 1px; */
        background-size: cover;  
    }
    
    .headerTitle {
        font-size: 33px;
        /* margin-top: 20px; */
    }

    .logo {
        float: left; 
        height: 80px; 
    }

    .cart {      
        font-size: 19px;   
        margin-top: 25px;
        padding: 10px;
        margin-right: 10px;
        
    }
    
    .mainpage {
        background-size: cover;
        height: 86vh;
    }

    .disclaimer {
        width: 68vw;
        height: 36vh;
        font-size: 12px;
    }

    .emptyCart {
        background-size: cover;
        height: 86vh;
    }

    .emptyCartModal {
        width: 50vw;
        height: 5vh;
        margin-left: 25vw;
        font-size: 17px;
        margin-top: 15px;
    }

    .listItem {
        display: inline-block;
        margin: 5px;
        width:40%;
        height:25%;
        border:1px solid black;
        font-family: 'Ubuntu', sans-serif;
    }

/* 
    .row {
        display: inline-block; 
        width:105vw;
        height:30vh;
        padding:20px;
        text-align: center;
    } */

    .rowCatalog {
        display: inline-block;
        width:100vw;
        margin-top:20px;
        text-align: center;
    }
    
    .cardtextProduct{
        width:80vw;
        font-size: 12px;
        margin-top:-10px;
    }

    .cardHeading {
        font-size: 14px;
    }
    
    .rowImage{
        display:inline-block;
        width:35vh;
        /* border:1px solid black; */
    }

    .cartSummary {
        display: inline-block;
        /* flex-wrap: wrap; */
        width: 80vw;
        height: 50vh;
        margin:5px;
        border: 1px solid black;
        text-align: center;  
        font-family: 'Ubuntu', sans-serif;
    }

    .myCart{
        font-size: 24px;
    }
    .summaryImage {
        display: bloflexck;
        /* /* height: 48vh; */
        width: 40vw; 
        height: 20vh;
        /* width: 30vw; */
        /* margin:20px; */
        text-align: center;
        margin-left: 20vw;
    }
    .confirmation {
        background-size: cover;
        height: 86vh;
    }

    .orderNumber {
        width: 55vw;
        height: 18vh;
        margin-left: 25vw;
        font-size: 15px;
    }

    .orderTotal {
        width: 50vw;
        font-size: 17px;
    }

    .add-to-cart-button, .checkoutButton, .placeOrderButton {
        width: 30vw;
        font-size: 17px;
    }

    .checkoutTitle {
        font-size: 20px;
    }

    .form, .checkoutPage{
        width: 70vw;
        padding: 1px;
        margin-left: 20px;
    }

    .confirmation {
        background-size: cover;
        height: 86vh;
    }

    .orderNumber {
        width: 62vw;
        height: 25vh;
        margin-left: 20vw;
        /* font-size: 1px; */
        margin-top: 10px;
    }

    .orderModal1 {
        font-size: 15px;
    }

    .orderModal2 {
        font-size: 15px;
    }
       
}
