.header {
    text-align: left;
    background-color: lightblue;
    height:26vh;   
    font-size: 60px;
    color:rgb(8, 8, 77);
}

body {
    height: 100vh;
    width: 100vw;
}

.logo{
    float:right;  
}

#root{
    padding: 15px;
}

.card {
    display: inline-block;
    margin-right: 80px;
}

.row {
    display: inline-block;
}



